@{
        Layout = null;
        var seriesTitle = "Fort Stevens";
        var issueNumber = "1";
        var description = "<p> a description of the ride at Fort Stevens.</p>";
        var riders = new string[]
            {
                "Mom: Cheryl",
                "Dad:  Jason",
                "Child 1:  Ash",
                "Child 2: Sage"
            };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1> @seriesTitle</h1>
        <h2> Issue #:@issueNumber</h2>
        <h5> Description: </h5>
        <div>
            @Html.Raw(description)
        </div>

        <h5>Riders:</h5>
        <div>@riders</div>
    </div>
</body>
</html>
